# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
venv/
.venv/
env/

# Django
*.log
db.sqlite3
db.sqlite3-journal
media/
staticfiles/

# Environment variables
.env
.env.*

# IDE
.idea/
.vscode/

# macOS
.DS_Store

# Testing / coverage
.pytest_cache/
.coverage
htmlcov/

# Secrets
*.pem
*.key